[submodule "cryptopp"]
	path = cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "cryptopp-pem"]
	path = cryptopp-pem
	url = https://github.com/noloader/cryptopp-pem.git
